<html>
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Diabetes Prediction</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
   </head>
   <body>
      <h1>Diabetes Prediction Form</h1>
      <form id="predictionForm" action="/diabetes" method="post">
          <label for="Pregnancies">Pregnancies:</label>
          <input type="number" id="Pregnancies" name="Pregnancies" required><br>
   
          <label for="Glucose">Glucose:</label>
          <input type="number" id="Glucose" name="Glucose" required><br>
   
          <label for="BloodPressure">Blood Pressure:</label>
          <input type="number" id="BloodPressure" name="BloodPressure" required><br>
   
          <label for="SkinThickness">Skin Thickness:</label>
          <input type="number" id="SkinThickness" name="SkinThickness" required><br>
   
          <label for="Insulin">Insulin:</label>
          <input type="number" id="Insulin" name="Insulin" required><br>
   
          <label for="BMI">BMI:</label>
          <input type="number" id="BMI" name="BMI" step="0.01" required><br>
   
          <label for="DiabetesPedigreeFunction">Diabetes Pedigree:</label>
          <input type="number" id="DiabetesPedigreeFunction" name="DiabetesPedigreeFunction" step="0.001" required><br>
   
          <label for="Age">Age:</label>
          <input type="number" id="Age" name="Age" required><br>
   
          <input type="submit" value="Predict">
      </form>
      <span id="predictionResult" style="display: none;">
         <h1>Diabetes Prediction Result</h1>
         <p class="red-text">The prediction result is: {{ prediction }}</p>
     </span>
       <script>
         // Function to handle form submission
         document.getElementById("predictionForm").addEventListener("submit", function(event) {
            // Prevent default form submission
            event.preventDefault();
            
            // Show the prediction result
            document.getElementById("predictionResult").style.display = "block";
         });
      </script>
   </body>
</html>

