<html>
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Diabetes Prediction</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
      <style>
         body {
            background-image: url('static/backround_image.jpeg'); /* Replace 'path/to/your/image.jpg' with the actual path to your image */
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
         }
      </style>
   </head>
   <body>
      <div class="container">
          <h1>Diabetes Prediction Form</h1>
          <form id="predictionForm" action="/diabetes" method="post">
              <label for="Pregnancies" class="form-label">Pregnancies:</label>
              <input type="number" id="Pregnancies" name="Pregnancies" class="form-input" value="{{ form_data['Pregnancies'] }}" required><br>
  
              <label for="Glucose" class="form-label">Glucose:</label>
              <input type="number" id="Glucose" name="Glucose" class="form-input" value="{{ form_data['Glucose'] }}" required><br>
  
              <label for="BloodPressure" class="form-label">Blood Pressure:</label>
              <input type="number" id="BloodPressure" name="BloodPressure" value="{{ form_data['BloodPressure'] }}" class="form-input" required><br>
  
              <label for="SkinThickness" class="form-label">Skin Thickness:</label>
              <input type="number" id="SkinThickness" name="SkinThickness" value="{{ form_data['SkinThickness'] }}" class="form-input" required><br>
  
              <label for="Insulin" class="form-label">Insulin:</label>
              <input type="number" id="Insulin" name="Insulin" class="form-input" value="{{ form_data['Insulin'] }}" required><br>
  
              <label for="BMI" class="form-label">BMI:</label>
              <input type="number" id="BMI" name="BMI" step="0.01" class="form-input" value="{{ form_data['BMI'] }}" required><br>
  
              <label for="DiabetesPedigreeFunction" class="form-label">Diabetes Pedigree:</label>
              <input type="number" id="DiabetesPedigreeFunction" name="DiabetesPedigreeFunction" step="0.001" class="form-input" value="{{ form_data['DiabetesPedigreeFunction'] }}" required><br>
  
              <label for="Age" class="form-label">Age:</label>
              <input type="number" id="Age" name="Age" class="form-input" value="{{ form_data['Age'] }}" required><br>
  
              <input type="submit" value="Predict" class="form-submit">
          </form>
          <span id="predictionResult" class='{{"visible" if prediction else "hidden"}}'>
            <h1>Diabetes Prediction Result</h1>
            <p  style="color: greenyellow !important;">The prediction result is: {{ prediction }}</p>
        </span>
          <!-- <div id="predictionResult" class="prediction-container">
              {% if prediction %}
                  <h2>Diabetes Prediction Result</h2>
                  <p class="prediction-result">{{ prediction }}</p>
              {% endif %}
          </div> -->
      </div>
  </body>
  </html>
